@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @layer base {
      :root {
         --background: 0 0% 100%;
         --foreground: 240 19% 16%;
         --card: 0 0% 100%;
         --card-foreground: 240 19% 16%;
         --popover: 0 0% 100%;
         --popover-foreground: 20 14.3% 4.1%;
         --primary: 8 99% 67%;
         --primary-foreground: 300 0% 100%;
         --secondary: 240 19% 16%;
         --secondary-foreground: 300 0% 100%;
         --tertiay: 27 82% 98%;
         --muted: 60 4.8% 95.9%;
         --muted-foreground: 237 13% 40%;
         --accent: 237 9% 96%;
         --accent-foreground: 24 9.8% 10%;
         --destructive: 0 84.2% 60.2%;
         --destructive-foreground: 60 9.1% 97.8%;
         --border: 8 82% 92%;
         --input: 8 82% 92%;
         --ring: 9 99% 67%;
         --radius: 0.5rem;
      }

      .dark {
         --background: 20 14.3% 4.1%;
         --foreground: 60 9.1% 97.8%;
         --card: 20 14.3% 4.1%;
         --card-foreground: 60 9.1% 97.8%;
         --popover: 20 14.3% 4.1%;
         --popover-foreground: 60 9.1% 97.8%;
         --primary: 20.5 90.2% 48.2%;
         --primary-foreground: 60 9.1% 97.8%;
         --secondary: 12 6.5% 15.1%;
         --secondary-foreground: 60 9.1% 97.8%;
         --muted: 12 6.5% 15.1%;
         --muted-foreground: 24 5.4% 63.9%;
         --accent: 12 6.5% 15.1%;
         --accent-foreground: 60 9.1% 97.8%;
         --destructive: 0 72.2% 50.6%;
         --destructive-foreground: 60 9.1% 97.8%;
         --border: 12 6.5% 15.1%;
         --input: 12 6.5% 15.1%;
         --ring: 20.5 90.2% 48.2%;
      }
   }
}

@layer base {
   * {
      @apply border-border;
   }

   body {
      @apply bg-background text-foreground;
   }
}

.h1 {
   @apply text-3xl xl:font-bold xl:text-[64px] xl:leading-[80px] tracking-[-2px] font-bold;
}

.h2 {
   @apply text-4xl font-bold;
}

.h3 {
   @apply text-3xl font-bold;
}

.h4 {
   @apply text-[22px] font-semibold;
}

.subtitle {
   @apply text-muted-foreground text-lg mb-8 font-light;
}

.badge {
   @apply z-10 h-[50px] shadow-4xl px-6 py-1 flex items-center rounded-[10px] gap-x-4
}

.shadow-4xl {
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.section-title {
   @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 before:bg-dots_light before:dark:bg-dots_dark before:bg-no-repeat before:bg-center before:w-[24px] before:h-[24px]
}

.swiper-pagination-bullet-active {
   background-color: #fe6e58 !important;
}

@media (max-width: 500px) {

   .swiper-pagination,
   .swiper-pagination-clickable,
   .swiper-pagination-bullets,
   .swiper-pagination-horizontal,
   .swiper-pagination-bullet,
   .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      visibility: hidden;
   }
}

.bg-movie {
   background-image: url('/projects/1.png');
}
.bg-react-ecom {
   background-image: url('/projects/2.png');
}
.bg-sneaker {
   background-image: url('/projects/3.png');
}
.bg-next-ecom {
   background-image: url('/projects/4.png');
}
.bg-next-blog {
   background-image: url('/projects/5.png');
}